<ol class="breadcrumb">
    <li class="breadcrumb-item">
        <a href="@Url.Action("Index", "ManagePost")">Post List</a>
    </li>
    <li class="breadcrumb-item">
        <a href="@Url.Action("LatestPost", "ManagePost")">Latest Posts</a>
    </li>
    <li class="breadcrumb-item">
        <a href="@Url.Action("MostViewedPosts", "ManagePost")">Most Viewed Posts</a>
    </li>
    <li class="breadcrumb-item">
        <a href="@Url.Action("MostInterestingPosts", "ManagePost")">Most Interesting Posts</a>
    </li>
    <li class="breadcrumb-item">
        <a href="@Url.Action("PublishedPosts", "ManagePost")">Published Posts</a>
    </li>
    <li class="breadcrumb-item">
        <a href="@Url.Action("UnPublishedPosts", "ManagePost")">Un-published Posts</a>
    </li>
</ol>
